.controls {
    position: absolute;
    top: 20px;
    right: 20px;
}

#box {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    opacity: 1;
    background-color: yellow;
}
